org: carlosalith
service: api-comentario

provider:
  name: aws
  runtime: python3.13	
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::691600124431:role/LabRole	
  environment:
    TABLE_NAME: ${sls:stage}-t_comentarios
    # --- INICIO DE LA MODIFICACIÓN ---
    BUCKET_NAME: ${sls:stage}-bucket-ingesta-comentarios-${self:org}
    # --- FIN DE LA MODIFICACIÓN ---

functions:
  crear:
    handler: comentario.lambda_handler
    events:
      - http:
          path: /comentario/crear
          method: post
          cors: true
          integration: lambda

resources:
  Resources:
    TablaComentarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        
    # --- INICIO DE LA MODIFICACIÓN ---
    # Recurso para el bucket S3 de ingesta por stage [cite: 180, 181]
    BucketIngesta:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BUCKET_NAME}
    # --- FIN DE LA MODIFICACIÓN ---
